<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <mapping class="br.ufsm.csi.seguranca.model.Filho" />
        <mapping class="br.ufsm.csi.seguranca.model.Funcionario" />
        <mapping class="br.ufsm.csi.seguranca.model.Pais" />
        <mapping class="br.ufsm.csi.seguranca.model.Log" />
        <mapping class="br.ufsm.csi.seguranca.model.Post" />
    </session-factory>
</hibernate-configuration>